.container {
    background-color: rgb(245, 159, 160);
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}
.backgroundImage1, .backgroundImage2 {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
}
.backgroundImage1 {
    transform: translate(-50%, -50%);
}
.backgroundImage2 {
    animation: rotate 20s linear infinite;
}
.logoImageContainer {
    width: 100%;
    height: 40vh;
    position: relative;
}
.bio {
    margin-left: 10px;
    text-align: center;
    flex-basis: 50%;
    align-self: center;
}
.subTitle, .para, .socialContainer {
    text-align: left;
}
.subTitle {
    font-size: 90px;
    margin: 0;
    color: white;
}
.socials {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
.musicSpan {
    color: rgb(51, 197, 195);
    text-shadow: 0px 20px 15px rgba(0,0,0,0.2);
}
.flexContainer {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    justify-content: center;
    overflow: hidden;
}
.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-basis: 30%;
}
.headset {
    position: absolute;
    width: 90%;
    animation: expand 3.5s ease infinite;
}
@media only screen and (min-width: 320px) {
    .backgroundImage1, .backgroundImage2 {
        height: 70%;
    }
    .imageContainer {
        display: none;
    }
    .subTitle {
        font-size: 40px;
    }
    .subTitle, .para, .socialContainer {
        text-align: center;
    }
}
@media only screen and (min-width: 481px) {
    .backgroundImage1, .backgroundImage2 {
        height: 80%;
    }
    .imageContainer {
        display: none;
    }
    .subTitle {
        font-size: 40px;
    }
    .subTitle, .para, .socialContainer {
        text-align: center;
    }
}
@media only screen and (min-width: 768px) {
    .backgroundImage1, .backgroundImage2 {
        height: 100%;
    }
    .imageContainer {
        display: none;
    }
    .subTitle {
        font-size: 50px;
    }
    .subTitle, .para, .socialContainer {
        text-align: center;
    }
}

@media only screen and (min-width: 992px) {
    .imageContainer {
        display: flex;
    }
    .subTitle, .para, .socialContainer {
        text-align: left;
    }
    .subTitle {
        font-size: 60px;
    }
}
@media only screen and (min-width: 1200px) {
    .subTitle {
        font-size: 70px;
    }
}
@keyframes expand {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}
@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}