.contactFormContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
}
.container {
    height: 100vh;
    width: 100vw;
}
.infoContainer {
    border-radius: 10px 0 0 10px;
}
.contactForm {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-radius: 0 10px 10px 0;
}
.infoContainer {
    flex: 0 0 40%;
    background-image: url('../assets/titian-studio2.jpg');
    background-size: cover;
    background-position: 0 70%;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
}
.infoContainer div {
    flex-basis: calc(100% / 3 - 40px);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 20px 10px;
    font-size: 9px;
}
.icon {
    width: 20px;
}
.contactInfo {
    margin: 0;
}
.contactForm {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 60%;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.button {
    width: 100px;
    padding: 5px;
    align-self: center;
    background-color: #00a081;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}
.smallInput, .bigInput {
    margin: 10px 0;
    padding: 5px;
    border: 0;
}
.smallInput:focus, .bigInput:focus {
    outline: none;
}
.smallInput:focus {
    border-bottom: 1px solid #00a081;
    box-shadow: 0 5px 5px -5px #00a081;
}
.bigInput:focus {
    box-shadow: 0 0 5px #00a081;
}
.smallInput {
    width: 70%;
    border-bottom: 1px solid gray;
}
.bigInput {
    width: 70.5%;
    height: 40%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    resize: none;
    border: 1px solid gray;
    border-radius: 8px;
}   
.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
}

@media only screen and (max-width: 1200px) {
    .contactFormContainer {
        flex-direction: column;
        width: 100%;
        top: 0;
        transform: translate(-50%, 0%);
    }
    .fontColor {
        color: white;
    }
    .infoContainer {
        flex-basis: 100%;
        border-radius: 0;
    }
    .contactForm {
        justify-content: center;
        height: 100%;
        border: 0;
    }
    .infoContainer div {
        font-size: 8px;
    }
}
@media only screen and (min-width: 480px) {
    .logo {
        width: 20%;
    }
}
@media only screen and (min-width: 768px) {
    .logo {
        width: 10%;
    }
    .infoContainer div {
        font-size: 12px;
    }
    .infoContainer {
        background-position-y: 50%;
    }
}
@media only screen and (min-width: 1200px) {
    .infoContainer div {
        font-size: 14px;
    }
    .contactFormContainer {
        width: 60%;
    }
    .logo {
        width: 30%;
    }
}