.sliderContainer {
    position: absolute;
    width: 180%; height: 100%;
    text-align: center;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20%;
}

@media only screen and (max-width: 1200px) {
    .sliderContainer {
        flex-direction: column;
        width: 100%;
        margin: 0;
        transform: translate(0, 0) !important;
    }
  }
